/* common utilities */
.bg-color{
    background: #264653;
    color: #FFFF;
}
/* header section */
.purchase-btn{
    background: #E76F51;
    color: #FFFFFF;
    padding: 10PX 45PX;
    border: none;
    border-radius: 5px;
}
.line-text{
    color: #E76F51;
}
/* main section */
/* Featured Bike section gray  */
.grayscale{
    filter: grayscale(100%);
}
/* Clients Section */
.filled{
    color:#E77C40;
    padding-right: 5px;
}
.empty{
    color: #E77C40;
}